*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Libre Franklin;
}
/*log in css*/
body.index{
    background-image: url(../Images/InventoryManagement.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.loginHeader{
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Libre Franklin;
}
.loginBody h3{
    font-family: Libre Franklin;
    color: white;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
}
.loginBody{
    color: white;
    margin: auto;
    margin-top: 10%;
    width: 600px;
    background: #081624;
    border-radius: 35px;
    padding: 60px;
}
.loginInputContainer input{
    margin: auto;
    margin-bottom: 30px;

    background-color: #40546D;
    width: 100%;
    padding: 20px 10px;
    padding-right: 0;
    border-radius: 30px;
    border: none;
    text-indent: 1rem;
    color: white; /* Text color */
    font-family: Arial, sans-serif; /* Font family */
    font-size: 20px; /* Font size */
}
.loginInputContainer input::placeholder {
    color: grey; /* Change placeholder color here */
    font-family: Arial, sans-serif; /* Placeholder font family */
    font-size: 20px; /* Placeholder font size */
    text-indent: 1rem;
}
.loginBody .button {
    text-decoration: none;
    text-align: center;
    background-color: #3F91FF; /* Green background color */
    color: white; /* Text color */
    padding: 20px 25px; /* Padding */
    border: none; /* No border */
    border-radius: 20px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    font-size: 16px; /* Font size */
    font-family: Libre Franklin;
}

.loginBody .button:hover {
    background-color: #19375e; /* Darker green color on hover */
}
.loginBody form div {
    text-align: center;
}

/* Home page css */
body.homePage{
    background-color: #223242;
}
#menuTab{
    text-align: center;
    font-size: 2em;
    height: 50px;
    width: 100%;
    border-bottom: 1px;
    border-color: white;
    color: white;
}
.menuBox{
    
    width: 220px;
    height: 100vh;
    background-color: #345577;
}
.listDown{
    margin-left: 2rem;
    margin-bottom: 10px;
}
.listDown ul{
    list-style: none;
}

